@model RentCar.Core.Models.CarsCollection
@{
    ViewData["Title"] = "Rent cars";
}

<div class="text-center">

    @foreach (var c in Model.Cars)
    {
        <div>
            <h3>@c.Brand @c.Model</h3>
            <h4>Price: @c.Price.ToString("c")</h4>
            <h5>Transmission: @c.Transmission</h5>
            <h5>EngineType: @c.TypeEngine</h5>
            <h5>Engine: @c.Engine</h5>
            <h5>Passengers: @c.Passengers</h5>
            ------------------------------------------
</div>
    }
</div>